@font-face {
    font-family: PT Sans;
    src: url(../fonts/Ptsans/PTSans-Regular.woff) format("woff");
    font-weight: 400;  
}

@font-face {
    font-family: PT Sans;
    src: url(../fonts/Ptsans/PTSans-Bold.woff) format("woff");
    font-weight: 700;
}

@font-face {
    font-family: Courier-New;
    src: url(../fonts/Courier-New/Courier-New.woff) format("woff");
    font-weight: 400;
}